/* Import the default 'Roboto' font family */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src:  local('Roboto'), local('Roboto-Regular'), url(../fonts/Roboto-Regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


/* Set general page styles */
html, body {
    /* Fill document height and width */
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    
    /* Fix center with no repeat */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* General styles for the action bar (bottom bar) */
#actionBar {
    width: 100%;
    position: fixed;
    bottom: 0;
}

#actionBar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#actionBar ul.widgets-left {
    position: absolute;
    left: 20px;
}

#actionBar ul.widgets-right {
    position: absolute;
    right: 0;
}

#actionBar ul li {
    padding: 0;
    margin: 0;
    display: block;
    float: left;
}

/* Action Bar Link Styles */
.widgets-left .action-link, .widgets-right .clock {
    font-weight: 400;
    text-decoration: none;
    padding-right: 20px;
}

/* Widget styles */
p.clock {
    padding: 0;
    margin: 0;
    cursor: default;
}


/* Main box code */
#loginBox {
    display: block;
    position: fixed;
    border-radius: 5px;
    width: 400px;
    height: 500px;
    margin: auto auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

main {
 text-align: center;   
}

main .group {
    margin-top: 30px;
}

.group        { 
    display: inline-block;
  position:relative; 
  margin-bottom:45px; 
}

input         {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
  border-radius: 3px;
}
input:focus     { outline:none; }

label          {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
}

/* BOTTOM BARS ================================= */
.bar  { position:relative; display:block; width:300px; }
.bar:before, .bar:after   {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#595433; 
  transition:0.2s ease all; 
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* active state */
input:focus ~ label, input:valid ~ label     {
  top:-20px;
  font-size:14px;
  color:#FFF;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
/*input:focus ~ .highlight {
  animation:inputHighlighter 0.3s ease;
}*/

/* ANIMATIONS ================ */
@keyframes inputHighlighter {
  from  { background:#FFF; }
  to    { width:0; background:transparent; }
}


/* Log in button */



header .middle {
    display: inline-block;
    margin: 20px auto;
    position: relative;
}

header h1 {
    color: #FFF;
    float: left;
    display: block;
    text-align: center;

}

/* Header brand logo */
header .brand-logo {
    height: 75px;
    border-radius: 100px;
    border: 2px solid #FFF;
    float: left;
    margin-right: 20px;
}

/* MATERIAL BUTTONS */
.btn {
  position: relative;

  display: block;
  margin: 30px auto;
  padding: 0;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  
  background-color: #2ecc71;
  color: #ecf0f1;
  
  transition: background-color .3s;
}

.btn:hover, .btn:focus {
  background-color: #27ae60;
}

.btn > * {
  position: relative;
}

.btn span {
  display: block;
  padding: 12px 24px;
}

.btn:before {
  content: "";
  
  position: absolute;
  top: 50%;
  left: 50%;
  
  display: block;
  width: 0;
  padding-top: 0;
    
  border-radius: 100%;
  
  background-color: rgba(236, 240, 241, .3);
  
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;
  
  transition: width .4s ease-out, padding-top .4s ease-out;
}

/* Styles, not important */
*, *:before, *:after {
  box-sizing: border-box;
}

html {
  position: relative;
  height: 100%;
}

body {
  position: absolute;
  top: 50%;
  left: 50%;
  
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  
  background-color: #ecf0f1;
  color: #34495e;
  font-family: Trebuchet, Arial, sans-serif;
  text-align: center;
}

h2 {
  font-weight: normal;
}

.btn.orange {
  background-color: #e67e22;
}

.btn.orange:hover, .btn.orange:focus {
  background-color: #d35400;
}

.btn.red {
  background-color: #e74c3c;
}

.btn.red:hover, .btn.red:focus {
  background-color: #c0392b;
}

#message {
    text-align: center !important;
    padding: 0 !important;
    transition: color 0.5s;
}

.info {
    color: #FFF !important;
}

.error {
    color: #F44336 !important;
}


.widgets-left img {
    float: left;
    height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 4px;
}

#usernameBox {
    width: 300px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#usernameBox select {
    display: block;
    height: 42px;
    width: 100%;
    border-radius: 3px;
    padding-left: 45px;
    background: url(../img/ui/down_arrow.png) no-repeat #ddd;
    -webkit-appearance: none;
    background-position: calc(100% - 10px);
}

#profileImage {
    height: 42px;
    width: 42px;
    float: left;
    position: relative;
    top: 42px;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.invisible{
    display: none;
}
